	<div class="header__search">
		<div class="container">
			<div class="header">
				<div class="d-flex  justify-content-between">
					<div class="search-title">Search</div>
					<span class="close" aria-expanded="false">X</span>
				</div>
				<section class="">
					<form action="#">
						<div class="field">
							<input type="text" placeholder="Search..." class="search__input">
						</div>
					</form>
				</section>
			</div>
		</div>
		<div class="container">
			<div class="row search-result-section">
				<div class="col-sm-4 col-md-4">
					<div class="result-title">Directories</div>
					<ul class="header__search-list">
						<li><a href="/">Sitemap</a></li>
						<li><a href="/">Faculty &amp; Staff</a></li>
						<li><a href="/">Departments &amp; Offices</a></li>
						<li><a href="/">Programs &amp; Degrees</a></li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="result-title">Quick Links</div>
					<ul class="header__search-list">
						<li><a href="">Becoming IPLCian</a></li>
						<li><a href="">Campus Map</a></li>
						<li><a href="">Academic Calendar</a></li>
						<li><a href="">Library</a></li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="result-title">Popular</div>
					<ul id="queries_cludo_popular" class="header__search-list">
						<li><a href="">Housing</a></li>
						<li><a href="">Tongil moo do</a></li>
						<li><a href="">Student Life</a></li>
						<li><a href="">Programs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>