{{- include( 'header.twig' ) -}}

<main
	id="{{ post.id ? "page-#{post.id}" : 'page' }}"
	class="flex flex-column flex-md-row flex-nowrap h-100"
	{{ post.modules ? post.modules | map( module => "data-module-#{ module }" ) | join( ' ' ) : '' }}
>

	{% block content %}

	{% endblock %}


</main>


{% include 'footer.twig' %}
