{% extends 'layout.twig' %}

{% block content %}

    <article>

       {% block headerline %}
         
        {% endblock %}

        <section>
            {{ post.content }}
        </section>

    </article>

{% endblock %}
