@use 'base/fonts';

$primary: teal;
$danger: purple;
$success: rgb(30, 34, 136);

body {
  font-family: 'Titillium', sans-serif;
  background: $primary;
  color: white;
}

body {
  h1 {
    color: $success;
  }
}
